matplotlib
numpy
sphinx-copybutton
sphinx-gallery
sphinx==8.0.2
Jinja2==3.1.4
sphinx-autodoc-typehints
sphinx-serve==1.0.1
sphinxcontrib-htmlhelp
-e git+https://github.com/pytorch/pytorch_sphinx_theme.git#egg=pytorch_sphinx_theme
myst-parser
docutils

torchvision
tqdm


-e ..